<!-- * Кнопка, по кліку на яку, необхідно виконувати запит за наступною групою зображень і додавати розмітку до вже існуючих елементів галереї. -->
<button type="button" class="load-more" id="end">Load more</button>

<!-- Home&End buttons -->
<a href="#home" title="Вгору" class="top-button">
  <svg class="top__icon">
    <use href="./images/icons.svg#to-top"></use>
  </svg>
</a>

<a href="#end" title="Вниз" class="bottom-button">
  <svg class="bottom__icon">
    <use href="./images/icons.svg#to-bottom"></use>
  </svg>
</a>
